.wrapper-contato {
  background-color: #f9f9f9;
}

.contato {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr;
  align-items: flex-start;
  padding: 50px;
  gap: 70px 0;
}

.girapha {
  grid-column: 1/-1;
  margin: 0 auto;
}

.contato-box h3 {
  font-size: 1.125rem;
  font-weight: 600;
}

.contato-box,
.contato-box ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contato-box ul li a {
  font-size: 1.125rem;
  font-weight: 400;
}

.contato-box ul li a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .contato {
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    gap: 50px 10px;
  }
  .contato .logo {
    display: none;
  }
  .contato-box h3 {
    font-size: 0.875rem;
  }
  .contato-box,
  .contato-box ul {
    gap: 5px;
  }
  .contato-box ul li a,
  .girapha {
    font-size: 0.75rem;
  }
}
