* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:target {
  scroll-margin-top: 80px;
}

body {
  color: #272727;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #272727;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.js-scroll {
  opacity: 0;
  transform: translate3d(0, 60px, 0);
  transition: 1s;
}

.js-scroll.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
